<launch>

  <arg name="odom_frame_id"   default="scout/odom"/>
  <arg name="global_frame_id" default="map"/>

  <param name="/use_sim_time" value="true"/>

  <node pkg="tf" type="static_transform_publisher" name="scan2baseTr" args="0 0 0 1.63 0 0 scout/base_link laser 20"/>

  <include file="$(find project2)/launch/gmapping.launch.xml"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project2)/rviz/gmapping.rviz"/>

</launch>

