<launch>


<node pkg="imu_filter_madgwick" type="imu_filter_node"      name="imu_filter_accelerometer" output="screen">  
    <remap from="imu/data_raw" to="/camera/accel/sample" /> 
    <remap from="imu/data" to="imu/final1" />  
    <param name="use_mag" value="false"/>
    <param name="use_magnetic_field_msg" value="false"/>
    <param name="zeta" value="0.00"/>
    <param name="gain" value="0.02"/>  
</node>

</launch>
